.ddsmoothmenu {
	text-align:right;
	width:auto;
}

.ddsmoothmenu ul {
	z-index:0;
	list-style:none;
	padding: 0px;
	margin:0px;
	list-style:none;
	display:inline-table;
}

.ddsmoothmenu ul li {
	position: relative;
	float:left;
	display:block;
	padding: 0px;
	margin:0px;
}

.ddsmoothmenu ul li a {
	width:auto;
	text-align:center;
	text-decoration:none;
	color:#707070;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	display:block;
	padding:5px 25px;
	font-family:"Times New Roman", Times, serif;
}
.ddsmoothmenu ul li a:hover {
}
* html .ddsmoothmenu ul li a {
}

.ddsmoothmenu ul li a:active, .ddsmoothmenu ul li a.selected {
	background:url(../images/nav_bg_hover.png) no-repeat top center;
}

.ddsmoothmenu ul li ul {
	position: absolute;
	display: none;
	visibility: hidden;
	width:160px;
	margin:0px;
	padding:0px;
	border:1px solid #666666;
	border-top:none;
	background-color:#3d3d3d;
}

.ddsmoothmenu ul li ul li {
	display: list-item;
	float: none;
	color:#fff;
	margin:0px;
	padding:0px;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a {
	padding:10px;
	border-top:1px solid #666666;
	text-align:left;
}
/*
.ddsmoothmenu ul li ul li:last-child a {
	border-bottom:none;
}
*/
.ddsmoothmenu ul li ul li a:hover {
	background:none;
	background-color:#2a2a2a;
}
/*
.ddsmoothmenu ul li ul li:last-child a:hover {
	border-bottom:none;
}
*/
.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:active {
	background:none;
	background-color:#2a2a2a;
}
/*
.ddsmoothmenu ul li ul li:last-child a.selected, .ddsmoothmenu ul li ul li:last-child a:active {
	border-bottom:none;
}
*/
* html .ddsmoothmenu {
	height: 1%;
}

.downarrowclass {
	position: absolute;
	top: 14px;
	right: 15px;
}

.rightarrowclass {
	position: absolute;
	top: 0px;
	right: 5px;
}

.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: 0;
	padding-left:10px;
}

.toplevelshadow {
	opacity: 0.8;
}